.dropdown {
    position: absolute; /* Overlay */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    background-color: #e3e0cc;
    border-radius: .5em;
    /* Hide bullet point and remove its spacing */
    list-style: none;
    padding: 0;
}

.remove-button {
    padding: .5em 1em;
    margin: 0 .4em;
}

.hidden {
    display: none;
}

.expanded {
    display: block;
    margin: auto 0;  /* Override main section margin. */
}

@media screen and (max-width: 768px) {
    .dropdown {
        position: unset;
    }

    .remove-button {
        padding: 1em;
        width: 25%;
    }
}
