.recipe-card {
    text-align: left;
    width: 23%;
    margin: 1%;
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
    border-radius: 1em;
}

@media screen and (max-width: 768px) {
    /* Fit each recipe card to screen */
    .recipe-card {
        text-align: center;
        width: 98%; /* Fit width of screen */
    }
}

.detail-recipe-card {
    text-align: left;
    width: 98%;
    margin: 1%;
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
    border-radius: 1em;
}

.recipe-body {
    padding: 1%;
}

.ingredient-header:after {
    content: '';
    width: 90%;
    height: .1em;
    display: block;
    background-color: rgba(0,0,0,0.94);
}

.recipe-button {
    padding: .5em;
    margin: .2em;
    background-color: #f0f0f0;
    color: rgb(117, 122, 117);
    border: none;
    border-radius: .5em;
}

@media screen and (max-width: 768px) {
    /* Fit button to screen */
    .recipe-button {
        padding: 1em;
        margin: .5em;
        width: 100%;
    }
}

.recipe-button:hover {
    background-color: #e3e0cc;
}

.ingredient-list {
    padding: 1.5em;
}

img {
    width: 100%;
    height: auto;
}
